<div class="row">
  <label for="passwordInput" class="col col-2 col-form-label gy-3">
    Passwort *
  </label>
  <div class="col col-10 gy-3" [formGroup]="createForm">
    <div class="input-group">
      <input
        id="passwordInput"
        placeholder=""
        class="form-control"
        required
        minlength="2"
        formControlName="password"
        [class.is-invalid]="password.invalid && password.touched"
        [class.is-valid]="password.valid && password.touched"
      />

      <div
        class="invalid-feedback"
        *ngIf="password.invalid && password.touched && password.errors"
      >
        <i class="material-icons">error</i>
        <span
          class="ms-1"
          *ngIf="password.errors['required'] || password.errors['pattern']"
        >
          Ein Passwort muss eingegeben werden.
        </span>
      </div>
    </div>
  </div>
</div>
