<div class="row">
  <label for="interessenInput" class="col col-2 col-form-label gy-3">
    Interessen
  </label>
  <div class="col col-10 gy-3" [formGroup]="createForm">
    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="sInput"
        formControlName="S"
      />
      <label for="sInput" class="ms-1">Sport</label>
    </div>

    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="lInput"
        formControlName="L"
      />
      <label for="sInput" class="ms-1">Lesen</label>
    </div>

    <div class="form-checkbox">
      <input
        type="checkbox"
        class="form-check-input"
        id="rInput"
        formControlName="R"
      />
      <label for="rInput" class="ms-1">Reisen</label>
    </div>
  </div>
</div>
