<div class="row">
  <label for="homepageInput" class="col col-2 col-form-label gy-3">
    Homepage
  </label>
  <div class="col col-10 gy-3" [formGroup]="createForm">
    <div class="input-group">
      <input
        id="homepageInput"
        placeholder="Homepage"
        class="form-control"
        minlength="2"
        formControlName="homepage"
        [class.is-invalid]="homepage.invalid && homepage.touched"
        [class.is-valid]="homepage.valid && homepage.touched"
      />

      <div
        class="invalid-feedback"
        *ngIf="homepage.invalid && homepage.touched && homepage.errors"
      >
        <i class="material-icons">error</i>
        <span class="ms-1" *ngIf="homepage.errors['pattern']">
          Eine gültige Url muss eingegeben werden.
        </span>
      </div>
    </div>
  </div>
</div>
